---
import { Image } from "astro:assets";
import avatar from "@/assets/Avatar.png";
---

<section
  class="min-h-screen flex flex-col items-center justify-center bg-background px-4 text-center"
>
  <Image
    src={avatar}
    alt="Avatar"
    width={avatar.width}
    height={avatar.height}
    loading="eager"
    class="w-28 h-28 rounded-full mb-4 object-cover shadow-lg transition-transform transform hover:scale-105"
  />

  <h1 class="text-5xl md:text-7xl font-bold text-accent mb-3 drop-shadow-lg">
    Hola, soy Yael Jesús Caballero
  </h1>

  <p class="text-lg md:text-xl text-text-main max-w-3xl mb-8">
    Estudiante de Ingeniería en Inteligencia Artificial | Desarrollador de
    Software | Especialista en IA Aplicada
  </p>

  <!-- Botones -->
  <div class="flex flex-col sm:flex-row gap-4 mt-6">
    <a
      href="/cv.pdf"
      download
      class="bg-accent hover:bg-accent-hover px-8 py-3 rounded-lg text-white font-medium transition shadow-lg hover:shadow-xl"
    >
      Descargar CV
    </a>
    <a
      href="#contacto"
      class="bg-background-hover hover:bg-background-light px-8 py-3 rounded-lg text-text-main font-medium transition border border-border hover:border-accent"
    >
      Contactar
    </a>
  </div>
</section>
